{% extends  "base.html.twig" %}

{% block header %}

<header class="container-fluid">

    {% if is_granted("ROLE_USER") %}
        <ul class="granted row justify-content-around align-items-center">
            <li><a class="headerLink" href="{{ path('home') }}"><span>Voyages</span></a></li>
            <li><a class="headerLink" href="{{ path('trips') }}"><span>Mon Profil</span></a></li>
            <li><a class="headerLink" href="{{ path('userList') }}"><span>Chercher un Voyageur</span></a></li>
            <li><a class="headerLink" href="{{ path('app_logout') }}"><span>Se déconnecter</span></a></li>   
        </ul>
            {% else %}
        <ul class="notGranted row justify-content-between align-items-center">
            <li><a class="headerLink" href="{{ path('home') }}"><span>Voyages</span></a></li>
            <li><a class="headerLink" href="{{ path('app_login') }}"><span>Se connecter</span></a></li>
            <li><a class="headerLink" href="{{ path('register') }}"><span>S'inscrire</span></a></li>
        </ul>
    {% endif %}

</header>
{% endblock %}
