{% extends "base.html.twig" %}

{% block body %}
    {% if is_granted("ROLE_USER") %}
        <p>Bonjour {{ app.user.userName }}</p>
        {% for user in users %}
            <li>{{ user.userName}}</li>    
        {% endfor %}
    {% endif %}
    {% for trip in trips %}
        
        {% if trip.image %}
            <div class="row align-items-center mr-0 trip">
                <div class="col-6"><img src="{{asset('img/'~ trip.image) }}" alt="image de test" class="img-fluid"></div>
                <div class="col-6">
                    <p class="poetry">"{{ trip.poetry }}"</p>
                    <p class="author">{{ trip.author }}</p>
                </div>
                <a href="{{ path('delete', {'id' : trip.id }) }}"> Supprimer le voyage</a>
            </div>
        {% endif %}

    {% endfor %}
{% endblock %}
