{% extends "base.html.twig" %}

{% block body %}
    
    {% for trip in trips %}
        {% if trip.image %}
            <div class="row align-items-stretch mr-0 trip my-3 trip mx-5">
                <div class="d-lg-flex align-items-center col-12 col-lg-6 p-0"><img src="{{asset('img/'~ trip.image) }}" alt="image de test" class="img-fluid"></div>
                <div class="col-12 col-lg-6 d-flex flex-column justify-content-around pt-lg-0 pt-3">
                    <div class="row">
                        <div class="line col-3"></div>
                            <div class="col-2"><img src="{{asset('img/comma_black.png') }}" alt="image représentant des guillemets pour le style" class="img-fluid"></div>
                        <div class="line col-3"></div>
                    </div>
                    <div class=""><p class="poetry">"{{ trip.poetry | nl2br}}"</p></div>
                    <div class="">
                        <p class="author">{{ trip.author }}</p>
                        <p class="user"> by <a href="{{ path('tripsByUser', {'id' : trip.user.id }) }}"> {{ trip.user.userName }}</a></p>
                        <p class="category">Dans la catégorie <a href="{{ path('tripsByCategory', {'id' : trip.category.id }) }}">{{ trip.category.name }}</a></p>
                    </div>
                </div>
            </div>
            <hr>
        {% endif %}

    {% endfor %}
{% endblock %}
