{% extends "base.html.twig" %}

{% block body %}
    {% if is_granted("ROLE_USER") %}
        <p>Bon voyage {{ app.user.userName }}</p>
        <a href="{{ path('trips') }}">Créer vos voyages</a>
    {% else %}
        <a href="{{ path('app_login') }}"> Se connecter</a>
        <a href="{{ path('register') }}"> S'inscrire</a>
    {% endif %}
    
    {% for trip in trips %}
        {% if trip.image %}
            <div class="row align-items-center mr-0 trip">
                <div class="col-6"><img src="{{asset('img/'~ trip.image) }}" alt="image de test" class="img-fluid"></div>
                <div class="col-6">
                    <p class="poetry">"{{ trip.poetry | nl2br}}"</p>
                    <p class="author">{{ trip.author }}</p>
                </div>
            </div>
        {% endif %}

    {% endfor %}
{% endblock %}
