{% extends "base.html.twig" %}

{% block body %}

    <div class="row justify-content-center mx-0 pt-5 pb-1">
        <a href="{{ path('insert') }}">Créer un voyage</a>
    </div>

    
        <p class="welcome pb-5">Bienvenue {{ app.user.username }}. Créer vos voyages en cliquant sur le bouton si dessus</p>

    {% for trip in trips %}
        {% if trip.user == app.user %} 
                {% if trip.image %}
                    <div class="row align-items-stretch trip mx-0">
                        <div class="col-6"><img src="{{asset('img/'~ trip.image) }}" alt="image de test" class="img-fluid"></div>
                        <div class="col-6 d-flex flex-column justify-content-around">
                            <div class="row">
                                <div class="line col-3"></div>
                                    <div class="col-2"><img src="{{asset('img/comma_white.png') }}" alt="image représentant des guillemets pour le style" class="img-fluid"> </div>
                                <div class="line col-3"></div>
                            </div>
                            <div><p class="poetry">"{{ trip.poetry | nl2br }}"</p></div>
                            <div><p class="author">{{ trip.author }}</p></div>
                        </div>
                        <div class="container-fluid mr-0">
                            <a href="{{ path('delete', {'id' : trip.id }) }}" class="col-6"> Supprimer le voyage</a>
                            <a href="{{ path('update', {'id' : trip.id }) }}"> Modifier le voyage</a>
                        </div>
                    </div>
                {% endif %}
        {% endif %}
        <hr>
    {% endfor %}
{% endblock %}
