{% extends "base.html.twig" %}

{% block body %}

Vous voici sur le profil de {{ search }}
<br/>
<a href="{{ path('trips') }}">Revenir a votre profil</a>



{% for user in users %}
    {% for trip in user.trips | reverse %}
    
        {% if trip.image %}
            <div class="row align-items-center mr-0 trip my-3 pb-1 ml-1 mr-1">
                <div class="col-6"><img src="{{asset('img/'~ trip.image) }}" alt="image de test" class="img-fluid"></div>
                <div class="col-6">
                    <div><img src="{{asset('img/comma_white.png') }}" alt="image représentant des virgules pour le style" class="img-fluid col-2"> </div>
                    <p class="poetry">"{{ trip.poetry | nl2br }}"</p>
                    <p class="author">{{ trip.author }}</p>
                </div>
            </div>
            <hr>
        {% endif %}  

    {% endfor %}
{% endfor %}


{% endblock %}